Repository DASDAE/dascore, pull requests merged in 2023-07, with the labels that each got.

#185 Fix tag fetch in CI
  .github/workflows/build_deploy_master_docs.yaml
  .github/workflows/build_deploy_stable_docs.yaml
  .github/workflows/get_coverage.yml
  .github/workflows/lint.yml
  .github/workflows/runtests.yml
  .github/workflows/upload_pypi.yml
Labels: CI

#186 Patch operators
  dascore/core/coordmanager.py
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/core/schema.py
  dascore/exceptions.py
  dascore/proc/__init__.py
  dascore/proc/basic.py
  dascore/proc/select.py
  dascore/transform/__init__.py
  dascore/transform/fft.py
  dascore/transform/strain.py
  dascore/utils/misc.py
  dascore/utils/models.py
  dascore/utils/patch.py
  dascore/utils/transformatter.py
  docs/_quarto.yml
  docs/tutorial/patch.qmd
  tests/test_core/test_patch.py
  tests/test_core/test_schema.py
  tests/test_proc/test_basic.py
  tests/test_transform/test_fft_transforms.py
  tests/test_utils/test_misc.py
  tests/test_utils/test_models.py
  tests/test_utils/test_patch_utils.py
  tests/test_utils/test_transformatter.py
Labels: patch

#188 add doc build to release
  .github/workflows/build_deploy_stable_docs.yaml
  docs/index.qmd
  readme.md
Labels: CI

#189 Patch diff integrate
  benchmarks/patch_benchmarks.py
  dascore/constants.py
  dascore/core/coordmanager.py
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/io/dasdae/utils.py
  dascore/io/terra15/utils.py
  dascore/proc/__init__.py
  dascore/proc/basic.py
  dascore/proc/coords.py
  dascore/proc/resample.py
  dascore/proc/taper.py
  dascore/transform/__init__.py
  dascore/transform/differentiate.py
  dascore/transform/integrate.py
  dascore/transform/strain.py
  dascore/utils/display.py
  dascore/utils/hdf5.py
  dascore/utils/misc.py
  dascore/utils/patch.py
  dascore/utils/time.py
  dascore/viz/wiggle.py
  pyproject.toml
  tests/test_core/test_coordmanager.py
  tests/test_core/test_patch.py
  tests/test_io/test_terra15/test_terra15.py
  tests/test_transform/test_differentiate.py
  tests/test_transform/test_integrate.py
  tests/test_transform/test_velocity_to_strainrate.py
  tests/test_utils/test_time.py
Labels: patch

#201 Docs refactor
  .github/workflows/build_deploy_master_docs.yaml
  .github/workflows/build_deploy_stable_docs.yaml
  dascore/core/schema.py
  dascore/proc/basic.py
  dascore/proc/resample.py
  dascore/transform/integrate.py
  dascore/units.py
  dascore/utils/docs.py
  docs/_quarto.yml
  docs/contributing/documentation.qmd
  docs/filters/fill_links.py
  docs/index.qmd
  docs/notes/dft_notes.qmd
  docs/tutorial/concepts.qmd
  docs/tutorial/transformations.qmd
  scripts/_index_api.py
  scripts/_qmd_builder.py
  scripts/_render_api.py
  scripts/_templates/_quarto.yml
  scripts/_validate_links.py
  scripts/build_api_docs.py
  scripts/test_render_api.py
Labels: documentation

#202 add an automatic table of io supports
  dascore/io/core.py
  docs/_quarto.yml
  docs/index.qmd
  docs/recipes/contributing_to_documentation.qmd
  docs/recipes/how_to_contribute.qmd
  tests/test_io/test_io_core.py
Labels: ready_for_review
