Repository DASDAE/dascore, pull requests merged in 2023-01, with the labels that each got.

#107 Pydantic attrs
  dascore/__init__.py
  dascore/clients/filespool.py
  dascore/constants.py
  dascore/core/patch.py
  dascore/core/schema.py
  dascore/examples.py
  dascore/io/core.py
  dascore/io/indexer.py
  dascore/io/tdms/utils.py
  dascore/utils/docs.py
  dascore/utils/hdf5.py
  dascore/utils/patch.py
  dascore/utils/time.py
  docs/tutorial/patch.qmd
  docs/tutorial/spool.qmd
  tests/test_clients/test_dirspool.py
  tests/test_core/test_patch.py
  tests/test_core/test_schema.py
  tests/test_io/test_dasdae/test_dasdae.py
  tests/test_io/test_io_core.py
  tests/test_io/test_tdms/test_tdms_v4713.py
  tests/test_io/test_terra15/test_terra15_v4.py
  tests/test_io/test_terra15/test_terra15_v5.py
  tests/test_utils/test_doc_utils.py
Labels: wip

#112 fix cross reference filter
  dascore/constants.py
  docs/filters/fill_links.py
  docs/filters/filter_test_data/test_data_2.json
  scripts/_render_api.py
Labels: documentation

#95 Wiggleplot
  dascore/viz/__init__.py
  dascore/viz/waterfall.py
  dascore/viz/wiggle.py
  tests/test_viz/test_wiggle.py
Labels: ready_for_review
