Repository DASDAE/dascore, pull requests merged in 2023-12, with the labels that each got.

#302 Test python 3.12
  .github/workflows/build_deploy_stable_docs.yaml
  .github/workflows/get_coverage.yml
  .github/workflows/run_min_dep_tests.yml
  .github/workflows/runtests.yml
  .github/workflows/upload_pypi.yml
  dascore/io/core.py
  dascore/proc/whiten.py
  pyproject.toml
Labels: CI

#300 added to_pandas and test
  .pre-commit-config.yaml
  dascore/utils/pd.py
  docs/contributors.md
  tests/test_utils/test_pd.py
Labels: IO, ready_for_review, patch

#312 conda cache string to include architecture
  .github/workflows/runtests.yml
Labels: CI

#311 fix #295
  .github/workflows/runtests.yml
  dascore/core/spool.py
  tests/test_core/test_spool.py
Labels: bug, spool

#313 fix #309
  dascore/utils/plotting.py
  tests/test_viz/test_waterfall.py
Labels: viz

#310 HDF5 refactor
  dascore/core/attrs.py
  dascore/core/patch.py
  dascore/core/spool.py
  dascore/data_registry.txt
  dascore/io/__init__.py
  dascore/io/core.py
  dascore/io/dasdae/core.py
  dascore/io/dashdf5/__init__.py
  dascore/io/dashdf5/core.py
  dascore/io/dashdf5/utils.py
  dascore/io/h5simple/core.py
  dascore/io/prodml/core.py
  dascore/io/terra15/core.py
  dascore/io/terra15/utils.py
  dascore/utils/hdf5.py
  dascore/utils/io.py
  dascore/utils/misc.py
  dascore/viz/core.py
  docs/contributing/new_format.qmd
  pyproject.toml
  tests/test_core/test_attrs.py
  tests/test_io/test_common_io.py
  tests/test_io/test_io_core.py
  tests/test_io/test_pickle/test_pickle.py
  tests/test_utils/test_hdf_utils.py
  tests/test_utils/test_io_utils.py
  tests/test_utils/test_misc.py
Labels: IO

#314 fix_272
  dascore/proc/resample.py
  dascore/utils/patch.py
  tests/test_proc/test_resample.py
Labels: proc

#297 Correlate
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/examples.py
  dascore/proc/__init__.py
  dascore/proc/correlate.py
  tests/conftest.py
  tests/test_core/test_coords.py
  tests/test_examples.py
  tests/test_proc/test_correlate.py
Labels: proc, patch

#315 Improved data import and export
  dascore/core/patch.py
  dascore/exceptions.py
  dascore/io/__init__.py
  dascore/proc/basic.py
  dascore/utils/io.py
  dascore/utils/pd.py
  docs/recipes/external_conversion.qmd
  docs/recipes/overview.qmd
  docs/recipes/parallelization.qmd
  pyproject.toml
  scripts/_templates/_quarto.yml
  tests/test_core/test_patch.py
  tests/test_utils/test_io_utils.py
  tests/test_utils/test_pd.py
Labels: IO

#319 added savgol filter to patch
  dascore/core/patch.py
  dascore/proc/__init__.py
  dascore/proc/filter.py
  docs/contributors.md
  tests/test_proc/test_filter.py
Labels: ready_for_review, proc, patch

#320 Sentek format
  dascore/data_registry.txt
  dascore/io/sentek/__init__.py
  dascore/io/sentek/core.py
  dascore/io/sentek/utils.py
  docs/contributors.md
  pyproject.toml
  tests/test_io/test_common_io.py
  tests/test_io/test_sentek/test_sentek.py
Labels: IO, ready_for_review

#323 fix badge links, doc build, python versions
  dascore/io/sentek/__init__.py
  docs/index.qmd
  pyproject.toml
  readme.md
Labels: documentation

#327 Coordinate documentation
  .github/workflows/build_deploy_master_docs.yaml
  .github/workflows/build_deploy_stable_docs.yaml
  dascore/core/coordmanager.py
  dascore/core/coords.py
  dascore/examples.py
  dascore/io/dasdae/utils.py
  dascore/io/dashdf5/utils.py
  dascore/io/h5simple/utils.py
  dascore/io/segy/utils.py
  dascore/io/terra15/utils.py
  dascore/proc/basic.py
  dascore/proc/coords.py
  dascore/proc/correlate.py
  dascore/proc/resample.py
  dascore/proc/rolling.py
  dascore/transform/fft.py
  dascore/transform/integrate.py
  dascore/transform/spectro.py
  dascore/utils/misc.py
  docs/index.qmd
  docs/recipes/overview.qmd
  docs/recipes/parallelization.qmd
  docs/tutorial/coords.qmd
  docs/tutorial/file_io.qmd
  docs/tutorial/patch.qmd
  scripts/_render_api.py
  scripts/_templates/_quarto.yml
  tests/test_core/test_attrs.py
  tests/test_core/test_coordmanager.py
  tests/test_core/test_coords.py
  tests/test_core/test_patch.py
Labels: documentation

#331 host development docs on Netlify
  .github/workflows/build_deploy_master_docs.yaml
  docs/_publish.yml
  docs/index.qmd
  readme.md
Labels: documentation

#326 fix correlate rough edges
  dascore/proc/coords.py
  dascore/proc/correlate.py
  dascore/proc/resample.py
  tests/test_proc/test_correlate.py
Labels: ready_for_review
