Repository DASDAE/dascore, pull requests merged in 2024-01, with the labels that each got.

#334 scan optimization
  dascore/io/core.py
  dascore/io/plugin.py
Labels: IO

#335 Doc improvements
  dascore/core/attrs.py
  dascore/core/patch.py
  dascore/core/spool.py
  dascore/examples.py
  dascore/io/core.py
  dascore/transform/fft.py
  dascore/transform/fourier.py
  dascore/units.py
  dascore/utils/docs.py
  docs/filters/fill_links.py
  docs/index.qmd
  docs/styles.css
  docs/tutorial/patch.qmd
  pyproject.toml
  readme.md
  scripts/_render_api.py
  scripts/_templates/table.html
  tests/conftest.py
  tests/test_core/test_patch.py
  tests/test_io/test_dasdae/test_dasdae.py
  tests/test_utils/test_doc_utils.py
  tests/test_viz/test_wiggle.py
Labels: documentation

#339 correlate_recipe_first_draft
  docs/recipes/correlate.qmd
  scripts/_templates/_quarto.yml
Labels: ready_for_review

#340 Stacking
  dascore/constants.py
  dascore/core/attrs.py
  dascore/core/coordmanager.py
  dascore/core/spool.py
  dascore/utils/misc.py
  tests/conftest.py
  tests/test_core/test_coordmanager.py
  tests/test_core/test_spool.py
  tests/test_utils/test_misc.py
Labels: spool

#343 changed the RSF writer to byteorder Fortran due to RSF requirement
  dascore/io/rsf/core.py
Labels: ready_for_review
