Repository DASDAE/dascore, pull requests merged in 2024-07, with the labels that each got.

#406 Fix rolling center
  dascore/proc/rolling.py
  dasdasdasd
  tests/test_proc/test_rolling.py
Labels: ready_for_review

#411 Neubrex dts dss support
  dascore/data_registry.txt
  dascore/examples.py
  dascore/io/neubrex/__init__.py
  dascore/io/neubrex/core.py
  dascore/io/neubrex/utils.py
  dascore/io/optodas/utils.py
  dascore/io/prodml/utils.py
  dascore/units.py
  pyproject.toml
  tests/test_io/test_common_io.py
Labels: IO

#413 FK(velocity/slope) filter
  dascore/core/patch.py
  dascore/proc/__init__.py
  dascore/proc/filter.py
  tests/test_proc/test_filter.py
Labels: ready_for_review, proc
