Repository DASDAE/dascore, pull requests merged in 2024-06, with the labels that each got.

#382 Adding roll function for patches
  dascore/core/patch.py
  dascore/io/sentek/utils.py
  dascore/proc/basic.py
  tests/test_proc/test_basic.py
Labels: ready_for_review, patch

#387 make patch tutorial path more clear
  docs/tutorial/patch.qmd
Labels: documentation

#391 fixing doc building error on mac
  scripts/_render_api.py
Labels: documentation, ready_for_review

#388 add io support for ap sensing
  dascore/data_registry.txt
  dascore/io/ap_sensing/__init__.py
  dascore/io/ap_sensing/core.py
  dascore/io/ap_sensing/utils.py
  pyproject.toml
  tests/test_io/test_common_io.py
Labels: IO

#392 Modify chunk, select, and waterfall
  dascore/core/coords.py
  dascore/core/spool.py
  dascore/proc/select.py
  dascore/proc/taper.py
  dascore/utils/chunk.py
  dascore/utils/pd.py
  dascore/viz/waterfall.py
  tests/test_core/test_coords.py
  tests/test_proc/test_select.py
  tests/test_utils/test_chunk.py
  tests/test_viz/test_waterfall.py
Labels: ready_for_review

#384 FiberIO Directory Support and XML Binary support
  dascore/clients/filespool.py
  dascore/core/spool.py
  dascore/io/core.py
  dascore/io/dasdae/core.py
  dascore/io/dashdf5/core.py
  dascore/io/febus/core.py
  dascore/io/h5simple/core.py
  dascore/io/indexer.py
  dascore/io/optodas/core.py
  dascore/io/pickle/core.py
  dascore/io/prodml/core.py
  dascore/io/segy/core.py
  dascore/io/sentek/core.py
  dascore/io/tdms/core.py
  dascore/io/terra15/core.py
  dascore/io/wav/core.py
  dascore/io/xml_binary/__init__.py
  dascore/io/xml_binary/core.py
  dascore/io/xml_binary/utils.py
  dascore/utils/io.py
  dascore/utils/misc.py
  dascore/utils/pd.py
  dascore/utils/progress.py
  dascore/utils/time.py
  dascore/utils/xml.py
  dascore/viz/waterfall.py
  dascore/viz/wiggle.py
  docs/contributing/new_format.qmd
  pyproject.toml
  scripts/_templates/_quarto.yml
  tests/test_io/test_io_core.py
  tests/test_io/test_xml_binary/test_xml_binary.py
  tests/test_utils/test_misc.py
  tests/test_utils/test_pd.py
  tests/test_utils/test_xml_utils.py
Labels: IO

#402 fix correlate doc build
  dascore/proc/correlate.py
  docs/recipes/correlate.qmd
  tests/test_proc/test_correlate.py
Labels: proc
