Repository DASDAE/dascore, pull requests merged in 2024-04, with the labels that each got.

#361 ifft=False for whiten
  dascore/proc/correlate.py
  dascore/proc/whiten.py
  docs/tutorial/patch.qmd
  tests/test_proc/test_whiten.py
Labels: ready_for_review, proc

#365 fix indefinite integrate
  .github/workflows/build_deploy_master_docs.yaml
  .github/workflows/build_deploy_stable_docs.yaml
  .github/workflows/get_coverage.yml
  .github/workflows/lint.yml
  .github/workflows/run_min_dep_tests.yml
  .github/workflows/runtests.yml
  .github/workflows/upload_pypi.yml
  dascore/transform/integrate.py
  docs/filters/fill_links.py
  environment.yml
  tests/test_transform/test_integrate.py
Labels: patch

#370 update codecov action
  .github/workflows/get_coverage.yml
  .github/workflows/runtests.yml
Labels: CI
