Repository DASDAE/dascore, pull requests merged in 2024-12, with the labels that each got.

#465 neubrex decimation check
  .github/workflows/run_min_dep_tests.yml
  .github/workflows/runtests.yml
  dascore/io/neubrex/core.py
  dascore/io/neubrex/utils_das.py
Labels: IO

#472 support for geothermal data repo h5 format
  dascore/data_registry.txt
  dascore/io/gdr/__init__.py
  dascore/io/gdr/core.py
  dascore/io/gdr/utils_das.py
  dascore/utils/hdf5.py
  docs/contributing/adding_test_data.qmd
  docs/contributing/new_format.qmd
  pyproject.toml
  scripts/modify_h5_file.py
  tests/test_io/test_common_io.py
  tests/test_io/test_gdr/test_gdr.py
  tests/test_utils/test_hdf_utils.py
Labels: IO, ready_for_review

#470 Low-freq proc
  dascore/core/patch.py
  dascore/core/spool.py
  dascore/examples.py
  dascore/utils/chunk.py
  docs/recipes/low_freq_proc.qmd
  docs/recipes/real_time_proc.qmd
  scripts/_templates/_quarto.yml
  tests/conftest.py
  tests/test_examples.py
Labels: documentation, ready_for_review, patch
