Repository DASDAE/dascore, pull requests merged in 2024-05, with the labels that each got.

#369 Febus read, scan, and is_format support
  dascore/data_registry.txt
  dascore/io/febus/__init__.py
  dascore/io/febus/core.py
  dascore/io/febus/utils.py
  dascore/io/optodas/utils.py
  dascore/utils/misc.py
  pyproject.toml
  tests/test_core/test_coordmanager.py
  tests/test_core/test_patch.py
  tests/test_io/test_common_io.py
Labels: IO

#373 Pad
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/proc/basic.py
  dascore/proc/rolling.py
  tests/test_core/test_coords.py
  tests/test_proc/test_basic.py
Labels: ready_for_review

#376 fix linking issue in quarto blocks
  .gitignore
  docs/contributing/documentation.qmd
  docs/filters/fill_links.py
  docs/filters/filter_test_data/test_data_3.json
  docs/filters/filter_test_data/test_data_4.json
  scripts/_render_api.py
  scripts/_templates/_quarto.yml
  scripts/_validate_links.py
Labels: documentation
