Repository DASDAE/dascore, pull requests merged in 2025-09, with the labels that each got.

#525 Loosen instrument naming requirement for febus files
  dascore/io/febus/utils.py
Labels: IO

#523 Implement Short time Fourier transform and its inverse
  .github/actions/mamba-install-dascore/action.yml
  .github/workflows/runtests.yml
  dascore/core/attrs.py
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/proc/coords.py
  dascore/transform/__init__.py
  dascore/transform/fourier.py
  dascore/transform/spectro.py
  dascore/units.py
  dascore/utils/time.py
  docs/tutorial/transformations.qmd
  environment.yml
  pyproject.toml
  tests/test_core/test_attrs.py
  tests/test_transform/test_fourier.py
  tests/test_utils/test_time.py
Labels: documentation, patch

#527 fix attr update from coords
  dascore/core/attrs.py
  dascore/proc/basic.py
  dascore/proc/filter.py
  dascore/transform/fourier.py
  tests/test_core/test_attrs.py
  tests/test_core/test_patch.py
  tests/test_integrations/test_misc_integrations.py
  tests/test_proc/test_proc_coords.py
  tests/test_transform/test_fourier.py
  tests/test_utils/test_patch_utils.py
Labels: bug, ready_for_review, proc

#530 typo fixes
  .gitignore
  dascore/core/attrs.py
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/core/spool.py
  dascore/examples.py
  dascore/io/febus/utils.py
  dascore/io/segy/utils.py
  dascore/io/tdms/utils.py
  dascore/proc/basic.py
  dascore/proc/coords.py
  dascore/proc/correlate.py
  dascore/proc/filter.py
  dascore/proc/rolling.py
  dascore/proc/units.py
  dascore/transform/differentiate.py
  dascore/transform/fourier.py
  dascore/transform/integrate.py
  dascore/utils/hdf5.py
  dascore/viz/map_fiber.py
  dascore/viz/waterfall.py
  docs/notes/doc_strategy.qmd
  docs/tutorial/coords.qmd
  scripts/_render_api.py
  tests/test_core/test_coordmanager.py
  tests/test_io/test_dasdae/test_dasdae.py
  tests/test_proc/test_detrend.py
  tests/test_utils/test_chunk.py
  tests/test_utils/test_hdf_utils.py
  tests/test_utils/test_misc.py
Labels: documentation, ready_for_review

#532 allow chunking to drop non-dimensional coords
  dascore/utils/coordmanager.py
  dascore/utils/patch.py
  tests/test_core/test_patch_chunk.py
  tests/test_utils/test_coordmanager_utils.py
Labels: spool

#538 warning for chunking gappy spools
  dascore/core/spool.py
  dascore/utils/chunk.py
  tests/test_utils/test_chunk.py
Labels: spool

#539 Implement Hilbert Transform, envelope, and phase weighted stacking patch methods
  .github/workflows/run_min_dep_tests.yml
  .github/workflows/runtests.yml
  dascore/constants.py
  dascore/core/coordmanager.py
  dascore/core/coords.py
  dascore/core/patch.py
  dascore/examples.py
  dascore/proc/aggregate.py
  dascore/proc/basic.py
  dascore/proc/coords.py
  dascore/proc/correlate.py
  dascore/proc/detrend.py
  dascore/proc/filter.py
  dascore/proc/whiten.py
  dascore/transform/__init__.py
  dascore/transform/dispersion.py
  dascore/transform/fft.py
  dascore/transform/fourier.py
  dascore/transform/hilbert.py
  dascore/utils/array.py
  dascore/utils/patch.py
  dascore/viz/wiggle.py
  docs/.gitignore
  docs/references.bib
  pyproject.toml
  tests/test_core/test_coordmanager.py
  tests/test_core/test_patch.py
  tests/test_core/test_patch_chunk.py
  tests/test_proc/test_aggregate.py
  tests/test_proc/test_basic.py
  tests/test_proc/test_correlate.py
  tests/test_proc/test_detrend.py
  tests/test_proc/test_proc_coords.py
  tests/test_proc/test_resample.py
  tests/test_proc/test_rolling.py
  tests/test_proc/test_taper.py
  tests/test_transform/test_differentiate.py
  tests/test_transform/test_fourier.py
  tests/test_transform/test_hilbert.py
  tests/test_transform/test_integrate.py
  tests/test_transform/test_strain.py
  tests/test_utils/test_array_utils.py
  tests/test_utils/test_coordmanager_utils.py
  tests/test_utils/test_patch_utils.py
  tests/test_viz/test_waterfall.py
Labels: documentation, ready_for_review, proc, patch

#540 fix documentation typos
  docs/contributing/contributing.qmd
  docs/contributing/documentation.qmd
  docs/contributing/general_guidelines.qmd
  docs/contributing/testing.qmd
  docs/contributors.qmd
  docs/recipes/docker_basic.qmd
  docs/recipes/fk.qmd
  docs/recipes/how_to_contribute.qmd
  docs/recipes/overview.qmd
  docs/recipes/smoothing.qmd
  docs/tutorial/concepts.qmd
  docs/tutorial/coords.qmd
  docs/tutorial/patch.qmd
  docs/tutorial/spool.qmd
Labels: documentation, ready_for_review

#543 Hampel Filter
  dascore/core/patch.py
  dascore/proc/__init__.py
  dascore/proc/hampel.py
  docs/recipes/despiking.qmd
  scripts/_templates/_quarto.yml
  tests/test_proc/test_hampel.py
Labels: documentation, ready_for_review, proc

#548 Implement Wiener Filter
  dascore/core/patch.py
  dascore/proc/__init__.py
  dascore/proc/hampel.py
  dascore/proc/wiener.py
  dascore/utils/patch.py
  tests/test_proc/test_filter.py
  tests/test_proc/test_hampel.py
  tests/test_proc/test_wiener.py
  tests/test_utils/test_patch_utils.py
Labels: ready_for_review, proc, patch

#549 add examples to public methods
  dascore/core/coordmanager.py
  dascore/core/patch.py
  dascore/proc/aggregate.py
  dascore/proc/basic.py
  dascore/proc/coords.py
  dascore/proc/units.py
  dascore/transform/fft.py
  dascore/units.py
  dascore/utils/misc.py
  dascore/viz/spectrogram.py
Labels: documentation, ready_for_review

#552 codspeed for performance benchmarks
  .github/test_code.sh
  .github/workflows/profile.yml
  .gitignore
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/generic_io_benchmarks.py
  benchmarks/memory_spool_benchmarks.py
  benchmarks/patch_benchmarks.py
  benchmarks/readme.md
  benchmarks/test_io_benchmarks.py
  benchmarks/test_patch_benchmarks.py
  benchmarks/test_spool_benchmarks.py
  docs/contributing/profiling_benchmarks.qmd
  docs/contributors.qmd
  pyproject.toml
  readme.md
  scripts/_benchmark_uilts.py
  scripts/run_benchmarks.py
  scripts/visualize_benchmarks.py
  tests/test_io/test_common_io.py
Labels: documentation, ready_for_review

#556 raise error when select on bad patch coord
  dascore/core/coordmanager.py
  dascore/proc/coords.py
  dascore/proc/hampel.py
  tests/test_core/test_coordmanager.py
  tests/test_proc/test_proc_coords.py
Labels: bug, ready_for_review, proc, patch

#558 Patch flip
  dascore/core/coordmanager.py
  dascore/core/patch.py
  dascore/proc/basic.py
  dascore/transform/dispersion.py
  tests/test_core/test_coordmanager.py
  tests/test_proc/test_basic.py
Labels: ready_for_review, proc, patch
